@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-movingBg{
    animation: movingBg infinite 200ms alternate;
    background-size: 200%;
}
@keyframes movingBg {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 100%;
    }
}